html{
    
    background-image: url("../Imagenes/FLASH.PNG");

    background-position: 9cm 0cm;
    
    
    
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
   
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    background-color: rgba(127, 127, 127, 0.56);
    display:block;
margin:auto;

}

img{
display:block;
margin:auto;
     animation: colorize 5s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}